* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  background-image: url(back.jpeg);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  position: relative;
  max-width: 47px;
  border-radius: 50%;
}
header ul {
  display: flex;
  position: relative;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 450;
  margin-left: 40px;
  text-decoration: none;
}
header ul li a:hover {
  color: rgb(236, 133, 50);
  transition: 0.5s;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.content .textbox {
  position: relative;
  max-width: 600px;
}
.content .textbox h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 1;
}
.content .textbox h1 span {
  color: rgb(161, 11, 11);
  font-size: 1.2em;
  font-weight: 450;
}
.content .textbox p {
  color: #e7dfdf;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.content .textbox button {
  display: inline-block;
  margin-top: 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px;
  text-decoration: none;

  cursor: pointer;
  font-size: 14px;
}
.content .textbox button:hover {
  background-color: rgb(210, 84, 21);
  font-size: 14px;
  transition: 0.5s;
  border-style: none;
}
.content .imgbox {
  display: flex;
  width: 600px;
  justify-content: flex-end;
  margin-top: 20px;
}
.content .imgbox img {
  max-width: 750px;
}
/* section2 start*/
section2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color:black;
}
.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px 30px;
  color: #fff;
}
.title {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 200px;
}
.title:hover{
  transition:0.7s;
  cursor: pointer;
  color: rgb(154, 48, 10);
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img {
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 20px;
}
.img img {
  width: 100%;
  transition: transform 0.3s ease;
}
.img:hover img {
  transform: scale(1.1);
}
.container-text h1 span {
  color: rgb(223, 58, 58);
}
.container-text {
  flex: 1;
  margin-left: 20px;
}
.container-text p {
  font-size: 17px;
  line-height: 1.6;
}
.readmore {
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #397a64;
  font-size: 17px;
  text-decoration: none;
  border-radius: 10px;
}
.readmore:hover {
  background-color: rgb(230, 188, 22);
  color: black;
  transition: 0.5s;
}
/* section2 end*/
/* section3 start*/
section3{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(cup-of-coffee-on-black-1024x576.jpg);
  background-size: cover;
  background-position: center;
}
section3 .hh{
  color: #fff;
  margin-bottom:550px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  left: 190px;
  font-size: 45px;
  font-weight: 300;
  font-family: sans-serif;
  top: -10;
  left: 350px;
}
section3 .hh:hover{
  transition:0.7s;
  cursor: pointer;
  color: rgb(154, 48, 10);
}
.loging{
  width: 370px;
  background:transparent;
  border: 3px solid rgba(255,255,255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  margin-top: 130px;
  margin-left: 350px;
}
.loging h1{
  font-size: 35px;
  text-align: center;
}
.loging .input-box{
  width: 100%;
  height: 50px;
 position: relative;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 25px;
}

.loging .remember{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember label input{
  accent-color: #fff;
  margin-right:3px;
}
.remember a{
  color: #fff;
  text-decoration: none;
}
.remember a:hover{
  text-decoration: underline;
  
}
.remember a:hover{
  color: brown;
}
.loging .btn{
  width:100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size:16px;
  color:#333;
  font-weight:600;
}
.loging .btn:hover{
  background-color: rgb(229, 214, 195);
  color: black;
  transition: 0.7s;
}
.loging .register-link{
  font-size: 14.5s;
  text-align: center;
  margin:20px 0 15px;
}
.register-link p a{
 color:#fff;
 text-decoration:none;
 font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;

}
/* section3 end*/
/* footer start*/
footer{
  width: 100%;
  height: 40vh;
  background-color: black;
}
.ff-head h1{
  background-color: black;
  color: #fff;
  text-align: center;
}
.ff-head h1 span{
  color: rgb(255, 94, 0);
}
.ff-head p{
  color: #c9c2c2;
  margin-top: 30px;
  margin-left: 17px;
}
.ff-head p span{
  color: rgb(255, 94, 0);
  font-size: 20px;
  font-weight: bold;
}
.ff-head i{
  color: #fff;
  margin-right: 20px;
  padding: 10px 10px;
  font-size: 30px;
}
/* footer end*

